body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#calculator::placeholder
{
    font-style: italic;
}

.result-box
{
    min-height: 8rem;
}

.fs-0
{
    font-size: 5rem;
}

.overflow-y
{
    overflow-y: auto;
}