<div class="expression-list-div">
    <h1>Stored equations:</h1>
    <div class="expression-div" ng-repeat="equation in $ctrl.equations">
        <div class="expression-string-div">{{equation.string}}</div>
        <div class="expression-variables-div">
            <div class="expression-variable-div" ng-repeat="variable in Object.keys(equation.variables)">
                <span>{{variable}} =</span>
                <input type="text" id="{{equation.variables[variable]}}">
            </div>
        </div>
    </div>
</div>